[Desktop Entry]
Version=1.0
Type=Application
Name=Google Chrome
Comment=Access the Internet
Exec=/usr/bin/google-chrome --no-sandbox %U
Icon=google-chrome
Path=/home/developer
Terminal=false
StartupNotify=true
